@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Livvic", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@layer components {
  .heading-1 {
    @apply text-4xl font-bold text-center md:text-6xl xl:text-8xl;
  }

  .btn {
    @apply inline-block px-4 py-2 text-xl font-semibold border-2 border-white rounded-full hover:bg-white hover:text-darkGreen;
  }

  .wrapper {
    @apply relative px-5 py-10 overflow-hidden text-white md:px-12 md:py-12 lg:px-36 lg:py-20;
  }
}
